body {
  margin: 0;
  font-family: 'Voces', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-weight: bold;
  font-size: 84px;
}

h2 {
  font-weight: bold;
  font-size: 68px;
}

h3 {
  font-size: 64px;
  line-height: 96px;
  color: #4e4e4e;
}

strong {
  color: #000000;
}

h4 {
  font-size: 32px;
  font-weight: bold;
}

.hero {
  min-height: 100vh;
  padding-top: 24vh;
  background-color: #000000;
  color: #ffffff;
}

.hero-sub {
  margin-top: 10vh;
}

.about-me {
  min-height: 100vh;
  padding-top: 24vh;
  padding-bottom: 24vh;

}

.about-me-title {
  font-size: 42px;
  font-weight: bold;
}

.about-me-sub {
  margin-top: 10vh;
  max-width: 60vw;
}

.about-me-phrase {
  margin-top: 5vh;
}

.projects {
  min-height: 100vh;
  padding-top: 24vh;
  padding-bottom: 24vh;
}

.projects-title {
  font-size: 42px;
  font-weight: bold;
}